body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-custom {
  background: #fd7e14;
  --bs-btn-color: #fff;
  }

.btn-custom:hover {
  background: #343a40;
  color: #fff !important;
  }

.text-custom {
  color: #fd7e14;
}

.bg-custom {
  background: #fd7e14;
  color: #f8f9fa;
}

.search > label {
  background-color: #fff;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border:1px solid #000;
}

.search svg {
  fill: #000;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
}

.search input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 13px;
}

.card-img-top {
    width: 30%;
    height: 10vw;
    object-fit: scale-down;
}