{% extends "datasets/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4"> Usuwanie organizacji </legend>
                  <h2> Na pewno chcesz usunąć organizację "{{ object.title }}"? </h2>
              </fieldset>
              <div class="form-group">
                  <a class="btn btn-outline-secondary" href="{% url 'organisation-detail' object.id %}"> Anuluj </a>
                  <button class="btn btn-outline-danger" type="submit"> Usuń </button>
              </div>
        </form>
    </div>
{% endblock content %}
