{% extends "datasets/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-left">
            <img class="rounded-circle article-img media-object" src="{{ wniosek.author.profile.image.url }}" alt="">
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ organisation.author }}</a>
                {% if user or user.is_superuser %}
                    <div>
                        <a class="btn btn-secondary btn-sm my-1 " href="{% url 'organisation-update' organisation.id %}"> Aktualizuj organizację</a>
                        <a class="btn btn-danger btn-sm my-1 " href="{% url 'organisation-delete' organisation.id %}"> Usuń organizację</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ organisation.title }}</h2>
            <p class="article-content">{{ organisation.description }}</p>
        </div>
    </article>
{% endblock content %}