{% extends "datasets/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-left">
            <img class="rounded-circle article-img media-object" src="{{ wniosek.author.profile.image.url }}" alt="">
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <h2 class="article-title">{{ category.title }}</h2>
                {% if user or user.is_superuser %}
                    <div>
                        <a class="btn btn-secondary btn-sm my-1 " href="{% url 'category-update' category.id %}"> Aktualizuj kategorię</a>
                        <a class="btn btn-danger btn-sm my-1 " href="{% url 'category-delete' category.id %}"> Usuń kategorię</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock content %}