{% extends "datasets/base.html" %}
{% block content %}
    {% for category in categories %}
        <article class="media content-section">
            <div class="media-left">
                <img class="rounded-circle article-img media-object" src="{{ wniosek.author.profile.image.url }}" alt="">
            </div>
            <div class="media-body">
                <h2><a class="article-title" href="{% url 'category-detail' category.id %}">{{ category.title }}</a></h2>
            </div>
        </article>
    {% endfor %}
{% endblock content %}