{% extends "datasets/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for category in categories %}
                    <div class="col-4">
                        <div class="card my-3">
                          <img class="card-img-top mx-auto" tabindex="-1" src="{{category.file.url}}" alt="">
                          <div class="card-body mx-auto">
                                <h2>{{ category.title }}</h2>
                                <a class="card-text stretched-link" href="{% url 'category-detail' category.id %}"></a>
                          </div>
                        </div>
                    </div>

            {% endfor %}
        </div>
    </div>
{% endblock content %}