{% extends "datasets/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-left">
            <img class="rounded-circle article-img media-object" src="{{ wniosek.author.profile.image.url }}" alt="">
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ resource.author }}</a>
                {% load i18n %}
                {% language 'pl' %}
                <small class="text-muted">{{ resource.date_post|date:"d-E-Y" }}</small>
                {% endlanguage %}
                {% if resource.author == user or user.is_superuser %}
                    <div>
                        <a class="btn btn-secondary btn-sm my-1 " href="{% url 'resource-update' resource.id %}"> Aktualizuj plik</a>
                        <a class="btn btn-danger btn-sm my-1 " href="{% url 'resource-delete' resource.id %}"> Usuń plik</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ resource.title }}</h2>
            <p class="article-content">{{ resource.description }}</p>
        </div>
    </article>
{% endblock content %}